
<div class="container my-4">
    <a routerLink="/timer-app-subject">Click Here to Navigate to Timer App using Subject & Service</a>

    <div class="row mt-4">
        <div class="col-4 text-center border border-dark">
            <h4>Count Down Timer</h4>
            <h3>{{countDown}}</h3>
        </div>
        <div class="col-7 offset-1 border border-dark">
            <app-state-maintenance [countDown]="countDown" (ChangeTimerStateEvent)="onChangeTimerState($event)"></app-state-maintenance>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-4">
            <app-timer-log [timerLog]="timerLog"></app-timer-log>
        </div>
        <div class="col-7 offset-1">
            <app-start-pause-count [start]="start" [timerLog]="timerLog"></app-start-pause-count>
        </div>
    </div>
</div>